@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "RocknRoll One", sans-serif;
}

body {
  background: linear-gradient(190deg,
      rgb(134, 123, 205) 0%,
      rgb(106, 90, 171) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #222;
}

.App {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.App h1 {
  display: inline;
  text-align: center;
  margin-bottom: 2rem;
  color: #e1ebfd;

  text-shadow: 0 0 5px #433aa8, 3px -1px 5px #271c6c;
}

.card {

  background: rgb(180, 182, 218);
  background: radial-gradient(circle,
      hsla(237, 34%, 78%, 0.9) 0%,
      hsla(219, 88%, 94%, 0.9) 100%);

  margin: 30px 0px 30px 0px;
  height: 300px;
  width: 350px;
  border-radius: 0.5rem;
  padding: 30px;
}

.card:hover {
  box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.08);
}

.card-title {
  margin-top: 50px;
  text-align: center;

}

.card-text {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;

}

.card-text .fa {
  font-size: 26px;
}

.avatar {
  width: 140px;
  margin: 20px 0px 20px 45px;
}

.avatar img {
  border: solid 6px transparent;
  border-radius: 50%;

}

.card:hover .avatar img {
  border-color: rgb(140, 135, 160);
}